*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow-x: hidden;
}
.div1{
    height: 100%;
    background-image:linear-gradient(to bottom, #70707081, #454545a1), url(Images/pexels-bruno-maceiras-2467558.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.div11{
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0,0.5);
    text-align: center;
}
.logo_img{
    height: 20%;
    width: 10%;
    float: left;
    margin: 10px;
    position: fixed;
    z-index: 1;
}
.div11 h1{
    color: white;
    font-size: 60px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
nav{
    display: inline-block;
    font-weight: 500;
}
li{
   display: inline-block;
}
nav a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
nav a:hover{
 background-color: rgb(10, 80, 80);
}


.div2{
    height: 100%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 50px;
}
.div2 h2{
    font-size: 45px;
    color: white;
    padding:30px 50px 10px 50px;
    text-shadow: -2px -2px 2px black;
    font-family: 'Courier New', Courier, monospace;
}
.div2 p{
    font-size: 22px;
    color: white;
    text-align: left;
    padding: 20px 50px 10px 50px;
    z-index: 1;
    text-shadow: -1px -1px 1px black;
    /* font-family: 'Courier New', Courier, monospace; */
    
}
.div2 table,td,tr{
    color: white;
    padding: 5px 30px 5px 5px;
    font-size: 20px;
    padding-left: 40px;
    text-shadow: -2px -2px 2px black;
    
}
.div2 table,td{
    width: 100%;
}
.div2 input{
    height: 20px;
    padding-left: 4px;
}
.form-div{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
footer{
    height: 200px;
    width: 100%;
    background-color: burlywood;
}
footer .div4{
    background-color: bisque;
    height: 300px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.div4_p{
    padding-top: 40px;
    font-size: 20px;
}


